body, html {
    background-image: linear-gradient(to right,darkgreen, lightgreen);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    margin-top: 100px;
    width: 150%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: #ffffff;
}

.centered-title {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(117,169,145,1);
}

.form-container {
    margin-top: 20px;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form .form-group label {
    font-weight: bold;
    color: rgba(117,169,145,1);
}

.login-form .form-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(117,169,145,1);
}

.login-form .form-group input:hover,
.login-form .form-group input:focus {
    border-color: #33703F;
}

.btn-primary {
    background-color: rgba(117,169,145,1);
    border: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #33703F;
}